---
import Layout from '@layouts/BaseLayout.astro';
---

<Layout title="Page not found" description="404 not found">
  <div class="flex h-screen flex-col items-center justify-center">
    <h1 class="text-8xl font-bold">404</h1>
    <h2 class="mt-4 text-sm sm:text-base lg:text-lg">
      The page you were looking for doesn&apos;t exist&period;
    </h2>
    <p class="text-sm sm:text-base lg:text-lg">
      Go back to
      <a
        href="/"
        class="underline hover:text-primary-light dark:hover:text-primary-dark"
        >home</a
      >&period;
    </p>
  </div>
</Layout>
