---
import Layout from '@layouts/BaseLayout.astro';
import Home from '@components/Home.astro';
import About from '@components/About.astro';
import Works from '@components/Works.astro';
---

<Layout title="Hid3xxx's portfolio" description="This site is Hid3xxx's portfolio.">
  <main class="flex-grow">
    <Home />
    <About />
    <Works />
  </main>
</Layout>
