---
import Nav from './Nav.astro';
import { Contact } from './Contact';
import Copyright from './Copyright.astro';
---

<footer
  class="flex w-full flex-col space-y-2 py-6 text-center sm:flex-row sm:items-baseline sm:justify-between sm:text-left"
>
  <Nav />
  <div class="flex flex-col flex-wrap sm:items-start">
    <Contact client:visible />
    <Copyright />
  </div>
</footer>
