<section id="top" class="flex h-screen flex-grow items-center">
  <h1 class="w-full text-2xl font-bold sm:text-4xl md:text-5xl 2xl:text-6xl">
    Hey&comma; I&apos;m
    <a href="#about" class="text-primary-light dark:text-primary-dark">
      Hid3xxx</a
    >&period;<br />
    I do project development as a hobby&period;
  </h1>
</section>
